
<%- include('../templates/admin.ejs') %>
<head>
    <!-- <link rel="stylesheet" href="../../css/home.admin.css"> -->
</head>
    <h1>Accesories</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium placeat in molestiae ipsum ex, omnis quia ratione aliquid dolorem eos voluptatem rem unde quod possimus quisquam amet debitis aperiam nesciunt?</p>
    <!-- END TEMPLATE -->
</div>
</main>
</body>
</html>