<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1> HOLA ADMINISTRADOR</h1>
        <form action="/logout" method="POST" style="display: inline;">
            <button type="submit">Cerrar Sesión</button>
        </form>
</body>

</html>