
<%- include('../templates/admin.ejs') %>
<head>
    <link rel="stylesheet" href="../../css/home.admin.css">
</head>

    <h1>Panel De Administrador</h1>
    <p class="text">Hola bienvenido, a Gestion de Reservas</p>

    <div class="main__card">
        <article class="card">
            <i  class='bx bx-user on'></i>
            <h2>Usuarios Online</h2>
            <span class="gr">12</span>
        </article>
        <article class="card">
            <i class='bx bx-laptop an'></i>
            <h2>Computadoras En Uso</h2>
            <span class="gr">12</span>
        </article>
        <article class="card">
            <i class='bx bx-cube-alt an'></i>
            <h2>Accesorios Reservados</h2>
            <span class="gr">12/30</span>
        </article>
        <article class="card">
            <i class='bx bx-calendar an'></i>
            <h2>Reservas Hoy</h2>
            <span class="gr">12/30</span>
        </article>
    </div>

    <div class="main__logs">
        <div class="logs__header">
            <h2>Logs de Seguridad</h2>
        </div>
        <div class="logs__body">
            <div class="log__tag">
                <ul>
                    <li>Lisandro Torres</li>
                    <li>reservo pc</li>
                </ul>
                <ul>
                    <li>hace 5 minutos</li>
                </ul>
            </div>
            <div class="log__tag">
                <ul>
                    <li>Lisandro Torres</li>
                    <li>reservo pc</li>
                </ul>
                <ul>
                    <li>hace 5 minutos</li>
                </ul>
            </div>
           
            <div class="log__tag">
                <ul>
                    <li>Lisandro Torres</li>
                    <li>reservo pc</li>
                </ul>
                <ul>
                    <li>hace 5 minutos</li>
                </ul>
            </div>
           
            <div class="log__tag">
                <ul>
                    <li>Lisandro Torres</li>
                    <li>reservo pc</li>
                </ul>
                <ul>
                    <li>hace 5 minutos</li>
                </ul>
            </div>
           
            <div class="log__tag">
                <ul>
                    <li>Lisandro Torres</li>
                    <li>reservo pc</li>
                </ul>
                <ul>
                    <li>hace 5 minutos</li>
                </ul>
            </div>
           
            <div class="log__tag">
                <ul>
                    <li>Lisandro Torres</li>
                    <li>reservo pc</li>
                </ul>
                <ul>
                    <li>hace 5 minutos</li>
                </ul>
            </div>
           
        </div>
        <div class="logs__footer">
            <a href="#" class="a">Ver Todos</a>
            <i class='bx bxs-right-arrow-alt eli'></i>
        </div>

    </div>
    <!-- END TEMPLATE -->
</div>
</main>
</body>
</html>