@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background: url(../img/fon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

nav{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.493);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item{
    margin: 30px;
}
.nav__item h1{
    font-size: 20px;

}
/* body */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:  30px auto;
}
.main__content{
    width: 450px;
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.781);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main__content h2{
    text-align: center;
    margin: 20px 0;
}
.form__group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form__group input{
    
    width: 360px;
    height: 40px;
    padding: 0 20px;
    margin-top: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.596);
}
.form__group input:hover,input:focus{
    transition: transform 0.3 ;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.568);}
.form__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__group .btn{
    width: 300px;
    height: 40px;
    margin: 20px;
    cursor: pointer;
    background-color: #11800F;
    border: none;
    border-radius: 10px;
    font-size: 19px;
}
/* MEDIA QUERIS */
@media screen and (max-width:768px) {
    nav{
        width: 100%;
        height: 80px;
        background-color: rgba(0, 0, 0, 0.493);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__item{
        margin: 30px;
    }
    .nav__item h1{
        font-size: 17px;
    
    }
    /* body */
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 70vh;
        flex-direction: column;
        margin:  30px auto;
    }
    .main__content{
        width: 350px;
        height: 450px;
        border: 1px solid rgba(0, 0, 0, 0.781);
        padding: 10px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main__content h2{
        text-align: center;
        margin: 20px 0;
    }
    .form__group{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .form__group input{
        width: 300px;
        height: 40px;
        margin-top: 5px;
        border: none;
        outline: none;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.596);
    }
    .form__group input:hover,input:focus{
        transition: transform 0.3 ;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.568);}
    .form__btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form__group .btn{
        width: 300px;
        height: 40px;
        margin: 20px;
        cursor: pointer;
        background-color: #11800F;
        border: none;
        border-radius: 10px;
        font-size: 19px;
    }
}
  