<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- <link rel="icon" href="../img/sena.png"> -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
    <header>
        <div class="logo">
            <p class="header__logo">Portatil Plus</p>

        </div>
        
    </header>
    <main class="container">

        <div class="container__registro">
            <form action="" class="form__comp">
                <div class="container__dos">
                    <div class="form__inputs">
                        <label for="">Nombre</label>
                        <input type="text"  class="inputt" placeholder="Name" id="name">
                    </div>
                    <div class="form__inputs">
                        <label for="">Apellido</label>
                        <input type="text"  class="inputt"placeholder="Lastname" id="lastname">
                    </div>
                </div>
                <div class="form__input">
                    <label for="">Edad</label>
                    <input type="number" class="inputt no-spinner" placeholder="Age" id="age">
                </div>
                <div class="form__input">
                    <label for="">Telefono</label>
                    <input type="number" class="inputt no-spinner" placeholder="Phone" id="phone">
                </div>
                <div class="form__input">
                    <label for="">Correo</label>
                    <input type="email" class="inputt" placeholder="Email" id="email">
                </div>
                <div class="form__input">
                    <label for="">Contrasena</label>
                    <input type="password" class="inputt" placeholder="password" id="pasword">
                </div>
                <div class="form__input">
                    <label for="">Rol</label>
                    <select name="" id="rol" class="inputt">
                        <!-- <option value="1" id="rol">Admin</option> -->
                        <option value="2" id="rol">User</option>
                    </select>
                </div>
                
                <button type="button" class="btn" onclick="Register();">Registrarse</button>
                
                <div class="pr">
                    <p>Ya tienes una cuenta? <a href="/">Login</a></p>
                </div>
                <input type="hidden" id="url" data-url="<%= urlFull %>">
            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/register.js"></script>
</body>
</html>